[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gevent = "*"
rx = "*"
kafka-python = "*"

[dev-packages]
pep8 = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
mock = "*"

[requires]
python_version = "3.7.1"
